<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

<div class="Container">
  <div class="card" id="homepage">
    <h1 id="homepage-header">Car Information</h1>
    <div id="links">
      <br>
      <h2><a href="/cars/price">Enter maximum price</a></h2>
      <br>
      <br>
      <h2><a href="/cars">See a list of all the cars</a></h2>
      <br>
    </div>
  </div>
</div>
